.nav-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5em 1em;
    background-color: #0D0D0D;
}

.social-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: auto;
    padding: .5rem;
    margin: 1em 0;
    background-color: #0D0D0D;

}

.aside {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    overflow: auto;
    padding: 0 .5rem;
    background-color: #0D0D0D;
}

.logout {
    color: white;
}

@media(max-width: 1000px) {
    .social-wrap {
        width: 111px;
        margin: 2px;
        padding: 2px;
    }
}