
.login-page-wrapper {
  background-color: rgb(53, 26, 0);
  color: #c46003;
  display: flex;
  justify-content: center;
}

.login-credentials {
    margin-left: 20%;
  }
  Label {
    margin-bottom: 20%;
  }
