.recipe-form {
  background-color: rgb(53, 26, 0);
  color: #c46003;
  display: flex;
  justify-content: center;
  align-content: center;
}

.recipe-form button {
  background-color: #c46003;
  color: rgb(53, 26, 0);
}

.recipe-name,
.recipe-source {
  margin: 3% auto;
  font-size: 2em;
  justify-content: center;

}

.add-ingredients {
  font-size: 2em;
  margin: 10% 1% 10% 1%;
}

.directions-wrapper {
  font-size: 2em;
  margin: 7% auto 7% auto;
}

.description {
  font-size: 2em;
  margin: 1% auto 10% auto;
}

.description button {
  margin: auto;
  padding: .5%;
  border-radius: 40%;
  font-size: .55em;
}

.tags {
  display: inline-block;
  font-size: 1.5em;
  margin: .5% 25% .5% 25%;
}

.tags input {
  margin: 5% .2% 5% .2%;
  font-size: 1.2em;
}

.tags button {
  margin: 2%;
  padding: .5%;
  border-radius: 40%;
}

.add-ingredients button,
.directions-wrapper button {
  margin: 1%;
  font-size: .5em;
  padding: 1%;
  border-radius: 40%;
}

.submit-recipe {
  font-size: 2em;
  border-radius: 30%;
}

.submit-recipe button {
  border-radius: 15%;
  margin: 2% 2% 10% 2%;
}

h1 {
  color: white;
}

.card {
  margin: 20px;

}

.card-title {
  color: black;
  background-color: wheat;
}

.btn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}